[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=sammy
Group=www-data
WorkingDirectory=/home/sammy/unity-flask-api
Environment="PATH=/home/sammy/unity-flask-api/venv/bin"
ExecStart=/home/sammy/unity-flask-api/venv/bin/uwsgi --ini myproject.ini

[Install]
WantedBy=multi-user.target