<html>
  <body>
    
  <!-- FORM TAGININ BAŞLANGICINA action="https://url"  EKLENMESİ GEREKİYOR -->
  
        
 <form method="POST" class="form-horizontal">
  <fieldset>
  
  <!-- Form Name -->
    <legend>Colour Blind Test</legend>
    <input id="query_time" type="hidden" name="timestamp" value="" />
  
  
     <div class="form-group">
    
      <p><label class="col-md-4 control-label" for="radios">You have to enter the number(s) for each plate you can see. If you don't see anything just add "-".</label>
          <div class="col-md-4">
   
       
  <div class="form-group">
    <p> <strong>1</strong><p> 
   <div class="col-md-4">
                                                                                                 
   <img src="https://www.colorlitelens.com/images/Ishihara/Ishihara_01.jpg"
           width=150" height="150">                                                                                              
    <div class="form-group">
    <div class="col-md-4">
    <input id="textinput" name="74" type="text"  class="form-control input-md" required="">
      
                                                                                           <div class="form-group">
    <p> <strong>2</strong><p> 
   <div class="col-md-4">
           <img src="https://www.colorlitelens.com/images/Ishihara/Ishihara_05.jpg"
           width=150" height="150">
       
  
    <div class="form-group">
    <div class="col-md-4">
    <input id="textinput" name="29" type="text"  class="form-control input-md" required=""> 
      <div class="form-group">
    
          
        
        <p> <strong>3</strong><p> 
   <div class="col-md-4">
           <img src="https://www.colorlitelens.com/images/Ishihara/Ishihara_10.jpg"
           width=150" height="150">
       
  
    <div class="form-group">
    <div class="col-md-4">
    <input id="textinput" name="8" type="text"  class="form-control input-md" required=""> 
      <div class="form-group">  
        
   
          <!-------- Gönder Butonu -------->
  <div class="form-group">
    <label class="col-md-4 control-label" for="Next"></label>
    <div class="col-md-4">
      <input type="submit" id="send" value="Next" class="btn btn-primary"></input>
    </div>
  </div>
      
      
    </div>
  </div>
  <script>
    function getParameterByName(name, url = window.location.href) {
      name = name.replace(/[\[\]]/g, '\\$&');
      var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
    document.getElementById("query_time").value = getParameterByName("timestamp")

    history.pushState({
      id: 'homepage'
    }, 'Home | My App', '/colourblindtest');

  </script>
  </body>

</html>