<html>



<body>


  <!-- FORM TAGININ BAŞLANGICINA action="https://url"  EKLENMESİ GEREKİYOR -->

  <form method="POST" class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Debrief Sheet</legend>



      <!-- a mandatory choice -->
      <div class="form-group">


        <div class="col-md-4">
          <p><label class="col-md-4 control-label" for="radios"><strong> Title of study: A 3D Online Game and Emotion
                Changes</strong></label></p>
          <p><label class="col-md-4 control-label" for="radios">Thank you for taking part in our experiment. If you have
              any questions about our study, feel free to ask them now. We will be happy to answer them and tell you a
              bit more about the experiment. </label>
          <p><label class="col-md-4 control-label" for="radios">Previous studies have also considered the effects of
              valence and arousal stimuli on cognitive
              functions used during decision-making processes like working memory and attention. In
              particular, it has been found that exciting stimuli positively influence participants’ cognitive
              performance and enhance working memory. Conversely, participants respond more slowly for less exciting
              stimuli. Similarly, high arousal stimuli have longer reaction times as participant becomes distracted.
            </label>
          <p><label class="col-md-4 control-label" for="radios"> The project aimed to identify how quickly the
              participant responds, based on the object presented and the background, in a 3D room. </p>
          <p><label class="col-md-4 control-label" for="radios">You were also asked to fill in a PANAS questionnaire and
              colour-blind test before playing the 3D game. PANAS questionnaire allows us to measure your emotion at the
              beginning of the experiment. The colour-blind test measures the participant’s colour vision.</p>
          <p><label class="col-md-4 control-label" for="radios">The experiment consisted of six conditions. As a
              participant, you observed moving objects and categorised warm and cold colours, and simple and complex
              textures.</p>
          <p><label class="col-md-4 control-label" for="radios">We hope you found this study interesting. If you have
              any specific concerns about your health, we recommend you contact your personal GP, or alternatively, you
              can contact City University’s student counselling and mental health service at: coun@city.ac.uk or by
              phone: 0207 040 8094.</p>
          <p><label class="col-md-4 control-label" for="radios">Should you have further questions about our study, or
              wish to obtain a summary of the results once the study has been completed, please do not hesitate to
              contact us at:</p>



          <p><label class="col-md-4 control-label" for="radios"> Gozde Kadioglu (Researcher):
              Gozde.Kadioglu.2@city.ac.uk</p>
          <p><label class="col-md-4 control-label" for="radios">Dr. Dimitris Pinotsis (Project Supervisor):
              pinotsis@city.ac.uk</p>
          <p><label class="col-md-4 control-label" for="radios">Ethics approval code: ETH2021-0618</p>
          <p><input type="checkbox" required="">
            <label>I understand.</label><br>
          <p><label class="col-md-4 control-label" for="radios"><strong>Please play the game in full
                screen!</strong></label></p>
          <p><input type="checkbox" required="">
            <label>I read and understand.</label><br>


            <!-------- Gönder Butonu -------->
          <div class="form-group">
            <label class="col-md-4 control-label" for="Play"></label>
            <div class="col-md-4">
              <input type="submit" id="send" value="Send" class="btn btn-primary"></input>
            </div>
          </div>
          <!-------- Gönder Butonu -------->

          </p>
          </p>
          </p>
          </p>
        </div>
      </div>
    </fieldset>
  </form>
</body>

</html>